nav{
  margin-top: -17px;
}
/*#1ee9d8*/
nav ul {
  background-color: #faf9f7;
  box-shadow: 0 1px 2px 0 #c7c7c7;
  display: flex;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

nav a:hover{
  text-decoration: underline;
  text-decoration-color: goldenrod;
}
nav a {
  text-decoration: none;
  display: block;

}

nav a:focus {
  background-color: goldenrod;
}

nav ul li a{
  color: green;
  font-weight: bolder;
  text-align: center;
}

nav ul li {
  padding: 10px 15px;
  display: block;
}
nav ul li:first-child {
  flex-grow: 0;
  margin-right: auto;
}
nav ul li:not(:first-child) {
  flex-grow: 0;
}

