.container{
  height: 80vh;
  margin: -50px auto auto auto;
  width: 80vw;
  background-color: antiquewhite;
}

h1{
  color: orange;
  text-align: left;
}

h2{
  text-align: left;
  color: green;
}

table{
  align-self: center;
  border-collapse: collapse;
  border: 1px solid black;
}

table, th, td {
  border: 1px solid black;
  background-color: antiquewhite;
}
th:nth-child(odd) {
  background-color: white;
}
th:nth-child(even) {
  background-color: green;
}
td:nth-child(even) {
  background-color: tomato;
}

thead{
  background-color: goldenrod;
}
