.container {
  margin: 0 auto;
  width: 80%;
  background-color: #faf9f7;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container h1, .container h2 {
  color: green;
  text-align: left;
}


.container table {
  align-self: center;
  border-collapse: collapse;
  border: 1px solid black;
}

.container table, .container th, .container td {
  border: 1px solid black;
  background-color: antiquewhite;
}

.container th:nth-child(odd) {
  background-color: white;
}

.container th:nth-child(even) {
  background-color: green;
}

.container td:nth-child(even) {
  background-color: tomato;
}

.container thead {
  background-color: goldenrod;
}
