/*https://www.w3schools.com/howto/howto_css_contact_form.asp*/
.aline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aline p{
  font: 700 14px/1.5 "Roboto", sans-serif;
}
.aline h1{
  color: green;
}

.container{
border-radius: 60px;box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3) ;
background: moccasin;
padding: 10px;
}

input[type=text], textarea, input[type=email], input[type=submit] {
  width: 100%;
  padding: 10px;
  border: 3px solid goldenrod;
  overflow: auto;
  box-sizing: border-box;
  margin: 6px;
  resize: vertical;
  border-radius: 20px;
}

input[type=submit] {
width: 50%;
}

input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
  background: goldenrod;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3) ;
}






