.blog_flowers {
  background-color: goldenrod;
  padding: 20px;
  margin: 0 auto 20px auto;
  position: relative;
  min-height: 150px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #000 ;
  overflow: hidden;
  width: 70vw;
}

.blog_flowers label {
  color: green;
  font-size: 1.4rem;
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}

.blog_flowers img {
  float: right;
  width: 250px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 8px;
}

.blog_flowers article {
  overflow: hidden;
  line-height: 1.5;
}
