.listing{
  background-color: greenyellow;
  border-radius: 15px;
  padding-bottom: 15px ;
  border: 2px solid goldenrod;
  margin: 10px;
  display: inline-grid;
  width: 20vw;
  overflow: hidden;
}

img{
  object-fit: cover;
  width: 250px;
  height: 250px ;
}

 h2{
  text-align: center;
  }

p{
  text-align: center;
  margin-top: -15px;
}

button{
  background-color: cornflowerblue;
}

button:hover{
  background-color: goldenrod;
}
