.listing{
  border-radius: 10px;
  padding-bottom: 15px;
  border: 2px solid goldenrod;
  box-shadow: 5px 4px 10px #000;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listing:hover {
  box-shadow: 10px 4px 10px #000;
}

.listing img{
  object-fit: cover;
  width: 100%;
  height: 200px ;
}

.listing h2{
  text-align: left;
  margin-left: 5px;
}

.listing p{
  text-align: left;
  margin-top: -20px;
  font-size: medium;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}
.listing-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}


.listing-footer  a{
  text-decoration: none;
  color: blue;
  align-self: end;
  font-weight: bold;
}

.listing-footer a:hover{
  background-color: goldenrod;
}

.listing-footer button{
  background-color: white;
  box-shadow: 1px 1px cornflowerblue;
  align-self: self-start;
  cursor: pointer;
}


.listing-footer button:hover{
  background-color: goldenrod;
}

a:first-child{
  text-decoration: none;
  color: black;
}

a:first-child:hover{
  background-color: goldenrod;
}


.div-header{
  border-bottom: 1px solid goldenrod;
}

